# Ativa o mecanismo de reescrita
RewriteEngine On

# Retorna 404 para favicon.ico se ele não existir. Visa evitar chamadas duplas
# ao framework, principalmente durante o desenvolvimento em que não há um
# favicondefinido.
RewriteCond %{REQUEST_URI} ^/favicon\.ico$
RewriteCond %{DOCUMENT_ROOT}/favicon.ico !-f
RewriteRule ^.*$ - [R=404,L]

# Desativa a indexação de diretórios
Options -Indexes

# Remove a barra no final da URL, exceto para diretórios
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [R=301,L]

# Remove o www da URL
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Redireciona todas as requisições para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
